USE [master]
GO
/****** Object:  Database [grade2013]    Script Date: 2013/2/22 11:13:07 ******/
CREATE DATABASE [grade2013]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'grade2013', FILENAME = N'E:\DATABASE\MSSQL\grade2013.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'grade2013_log', FILENAME = N'E:\DATABASE\MSSQL\grade2013_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [grade2013].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [grade2013]
GO
/****** Object:  Table [dbo].[grade2013]    Script Date: 2013/2/22 11:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grade2013](
	[studentId] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[idCode] [nvarchar](50) NULL,
	[politicalTheoryMark] [nvarchar](50) NULL,
	[foreignLanguageMark] [nvarchar](50) NULL,
	[specializedCourseOneMark] [nvarchar](50) NULL,
	[specializedCourseTwoMark] [nvarchar](50) NULL,
	[sumMark] [nvarchar](50) NULL,
	[others] [nvarchar](200) NULL,
 CONSTRAINT [PK_grade2013] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
